<ion-header>
    <ion-toolbar>
        <ion-title>final-list</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Chocolate</ion-label>
            <ion-button>
                <ion-icon slot="end" name="trash-outline"></ion-icon>
            </ion-button>

        </ion-item>
        <ion-item>
            <ion-label>Strawberry</ion-label>
            <ion-button>
                <ion-icon slot="end" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>Sugar</ion-label>
            <ion-button>
                <ion-icon slot="end" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>Milk</ion-label>
            <ion-button>
                <ion-icon slot="end" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>Flour</ion-label>
            <ion-button>
                <ion-icon slot="end" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <ion-button expand="block">Generate Recipes</ion-button>

</ion-content>