.popover-class{
    --background: #FEE7E8;
}

.checkbox1{
    --background:  #fdadae;
    --border-radius: 5px;
    --checkmark-color: black;
}

.checkbox2{
--background:  #fdadae;
--border-radius: 5px;
--checkmark-color: black;
}

.checkbox3{
    --background:  #fdadae;
    --border-radius: 5px;
    --checkmark-color: black;
}
