<ion-header>
    <ion-toolbar>
        <ion-title>
            Recipe Home page
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title size="large">Recipes</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card color="light">
        <ion-card-header>
            <ion-card-subtitle color="primary">Lunch</ion-card-subtitle>
            <ion-card-title>salad Bowl</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>

    <ion-card color="light">
        <ion-card-header>
            <ion-card-subtitle color="primary">Lunch</ion-card-subtitle>
            <ion-card-title>salad Bowl</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>

    <ion-card color="light">
        <ion-card-header>
            <ion-card-subtitle color="primary">Lunch</ion-card-subtitle>
            <ion-card-title>salad Bowl</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>

    <ion-card colour="light">
        <ion-card-header>
            <ion-card-subtitle color="primary">Lunch</ion-card-subtitle>
            <ion-card-title>salad Bowl</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>


    <ion-button (click)="navigate()">Choose ingredients</ion-button>
</ion-content>