<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            Filtered Recipes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h1>Recipes</h1>

    <div class="one">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle color="primary">Lunch</ion-card-subtitle>
                <ion-card-title>salad Bowl</ion-card-title>
            </ion-card-header>

            <ion-card-content>

            </ion-card-content>
        </ion-card>
    </div>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle color="primary">Lunch</ion-card-subtitle>
            <ion-card-title>salad Bowl</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle color="primary">Snacks</ion-card-subtitle>
            <ion-card-title>Snack dish</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle color="primary">Lunch</ion-card-subtitle>
            <ion-card-title>salad Bowl</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>



</ion-content>